<?xml version="1.0" encoding="utf-8"?>
<!--
This plugin library manifest will get merged with your
application's manifest, adding the necessary activity and permissions
required for displaying ads.
Author: Victor Corvalan @pescadon
pescode.wordpress.com
Roshka Studios
roshkastudios.com
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.unity"
    android:versionName="1.0"
    android:versionCode="1">
  	<uses-sdk android:minSdkVersion="9"
      android:targetSdkVersion="19" />
  	<!-- Google Mobile Ads Permissions -->
  	<uses-permission android:name="android.permission.INTERNET"/>
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
	<uses-permission android:name="android.permission.VIBRATE" />

	<application>
		<!-- Ad Colony -->
	  	<activity android:name="com.jirbo.adcolony.AdColonyOverlay"
		android:configChanges="keyboardHidden|orientation|screenSize"
		android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

		<activity android:name="com.jirbo.adcolony.AdColonyFullscreen"
		android:configChanges="keyboardHidden|orientation|screenSize"
		android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

		<activity android:name="com.jirbo.adcolony.AdColonyBrowser"
		android:configChanges="keyboardHidden|orientation|screenSize"
		android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

		<!-- AppLovin -->
	  	<meta-data android:name="applovin.sdk.key"
	       android:value="f-4eiA_Xu8ISLMBfF-54r0yVVZowTdZ8cenJqnrhw88FVKvlI_q7_ndVKQPp2-yeckyQUo7OwGdPaX9uWz0Wld"  />
	    <activity android:name="com.applovin.adview.AppLovinInterstitialActivity" />
		<activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />

		<!-- Chartboost -->
    	<activity
	    android:name="com.chartboost.sdk.CBImpressionActivity"
	    android:configChanges="keyboardHidden|orientation|screenSize"
	    android:excludeFromRecents="true"
	    android:hardwareAccelerated="true"
	    android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

	    <!-- Facebook Audience Network -->
	    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fbYOURFACEBOOKIDGOESHERE"/>

	    <!-- Vungle -->
	    <activity android:name="com.vungle.publisher.VideoFullScreenAdActivity"
		android:configChanges="keyboardHidden|orientation|screenSize"
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		<activity android:name="com.vungle.publisher.MraidFullScreenAdActivity"
		android:configChanges="keyboardHidden|orientation|screenSize"
		android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
  </application>
</manifest>
